.pplpro_bg {
  padding-top: 80px;
  background-color: #000000;
  min-height: 100vh;
}
.btn_row {
  justify-content: center;
  margin: 20px 0px;
}
.btn_row > a {
  z-index: 2;
}
.btn_row > a > button {
  width: 184px !important;
  transform: scale(1.035);
}
.island_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 60px 20px;
}
.island_main {
  transform: translate(0px, -34px);
  width: 75%;
  -webkit-transform: translate(0px, -34px);
  -moz-transform: translate(0px, -34px);
  -ms-transform: translate(0px, -34px);
  -o-transform: translate(0px, -34px);
}
.bridge_NE {
  cursor: pointer;
  top: -9%;
  right: 18%;
  position: absolute;
  width: 20%;
}
.bridge_NW {
  cursor: pointer;
  top: -9%;
  left: 18%;
  position: absolute;
  width: 20%;
}
.bridge_SW {
  cursor: pointer;
  left: 18%;
  position: absolute;
  width: 20%;
  bottom: 30%;
}
.bridge_SE {
  cursor: pointer;
  right: 18%;
  position: absolute;
  width: 20%;
  bottom: 30%;
}
.bridge_rev {
  transform: scaleX(-1);
}
.cat_content {
  margin: 20px;
  padding: 30px;
  border-radius: 0px !important;
  box-shadow: 10px 8px 0px 4px rgb(0 0 0 / 38%) !important;
  color: #d5d5d5 !important;
  background: #000000 !important;
  width: 70% !important;
}
.cat_content > .MuiGrid-container > .MuiGrid-item {
  text-align: justify;
}
.students_list {
  position: absolute;
  list-style-type: none;
  width: 54% !important;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform: translate(-11px, -40%);
  -webkit-transform: translate(-11px, -40%);
  -moz-transform: translate(-11px, -40%);
  -ms-transform: translate(-11px, -40%);
  -o-transform: translate(-11px, -40%);
}

.students_list > .student_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
.students_list > .student_wrapper > img {
  width: 70px;
}
.students_list > .student_wrapper:nth-child(1) {
  transform: translateY(12%) scale(0.9);
  -webkit-transform: translateY(12%) scale(0.9);
  -moz-transform: translateY(12%) scale(0.9);
  -ms-transform: translateY(12%) scale(0.9);
  -o-transform: translateY(12%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(2) {
  transform: translateY(22%) scale(0.9);
  -webkit-transform: translateY(22%) scale(0.9);
  -moz-transform: translateY(22%) scale(0.9);
  -ms-transform: translateY(22%) scale(0.9);
  -o-transform: translateY(22%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(3) {
  transform: translateY(-22%) scale(0.9);
  -webkit-transform: translateY(-22%) scale(0.9);
  -moz-transform: translateY(-22%) scale(0.9);
  -ms-transform: translateY(-22%) scale(0.9);
  -o-transform: translateY(-22%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(4) {
  transform: translateY(22%) scale(0.9);
  -webkit-transform: translateY(22%) scale(0.9);
  -moz-transform: translateY(22%) scale(0.9);
  -ms-transform: translateY(22%) scale(0.9);
  -o-transform: translateY(22%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(5) {
  transform: translateY(28%) scale(0.9);
  -webkit-transform: translateY(28%) scale(0.9);
  -moz-transform: translateY(28%) scale(0.9);
  -ms-transform: translateY(28%) scale(0.9);
  -o-transform: translateY(28%) scale(0.9);
}
.bridge_btn {
  position: absolute !important;
  top: 25%;
  left: 25%;
}
.island_icon {
  position: absolute;
  left: 10px;
  top: 70px;
  cursor: pointer;
}
.island_icon:hover {
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
}
@media only screen and (max-width: 600px) {
  .island_main {
    width: 100%;
  }
  .students_list {
    width: 88% !important;
    transform: scale(0.7) translate(-11px, -62%);
    -webkit-transform: scale(0.7) translate(-11px, -62%);
    -moz-transform: scale(0.7) translate(-11px, -62%);
    -ms-transform: scale(0.7) translate(-11px, -62%);
    -o-transform: scale(0.7) translate(-11px, -62%);
  }
  .students_list > .student_wrapper > {
    transform: scale(0.5) !important;
    -webkit-transform: scale(0.5) !important;
    -moz-transform: scale(0.5) !important;
    -ms-transform: scale(0.5) !important;
    -o-transform: scale(0.5) !important;
  }
  .bridge_btn {
    position: absolute !important;
    top: 25%;
    right: 25%;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  .bridge_btn {
    position: absolute !important;
    top: 25%;
    left: -40%;
  }
  .bridge_SE {
    cursor: pointer;
    right: 12%;
    position: absolute;
    width: 20%;
    bottom: 45%;
  }
  .bridge_SW {
    cursor: pointer;
    left: 12%;
    position: absolute;
    width: 20%;
    bottom: 45%;
  }
  .bridge_NE {
    cursor: pointer;
    top: -5%;
    right: 5%;
    position: absolute;
    width: 20%;
  }
  .bridge_NW {
    cursor: pointer;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 20%;
  }
}
