.pplpro_bg {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.cat_sa {
  background-image: url("../assets/images/Background/category1.png");
}
.cat_ec {
  background-image: url("../assets/images/Background/category2.png");
}
.cat_ep {
  background-image: url("../assets/images/Background/category3.png");
}
.cat_ch {
  background-image: url("../assets/images/Background/category4.png");
}
.cat_hw {
  background-image: url("../assets/images/Background/category5.png");
}
.content_sa {
  background-color: #270f3c !important;
  border: 5px solid #ca8bff !important;
}
.content_ec {
  background-color: #061a25 !important;
  border: 5px solid #6acfec !important;
}
.content_ep {
  background-color: #3d1d12 !important;
  border: 5px solid #f7ae47 !important;
}
.content_ch {
  background-color: #161f0a !important;
  border: 5px solid #888909 !important;
}
.content_hw {
  background-color: #c53a52 !important;
  border: 5px solid #fdb395 !important;
}
.island_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 60px 20px;
}
.island_main {
  transform: translate(0px, -34px) rotate(157deg);
  width: 55%;
  -webkit-transform: translate(0px, -34px) rotate(157deg);
  -moz-transform: translate(0px, -34px) rotate(157deg);
  -ms-transform: translate(0px, -34px) rotate(157deg);
  -o-transform: translate(0px, -34px) rotate(157deg);
}
.bridge_NE {
  cursor: pointer;
  top: -17px;
  right: 8%;
  position: absolute;
  width: 20%;
}
.bridge_NW {
  cursor: pointer;
  top: -34px;
  left: 8%;
  position: absolute;
  width: 20%;
}
.bridge_SW {
  cursor: pointer;
  left: 8%;
  position: absolute;
  width: 20%;
  bottom: 27px;
}
.bridge_SE {
  cursor: pointer;
  right: 13%;
  position: absolute;
  width: 20%;
  bottom: 24px;
}
.bridge_rev {
  transform: scaleX(-1);
}
.cat_content {
  margin: 20px;
  padding: 30px;
  border-radius: 0px !important;
  box-shadow: 10px 8px 0px 4px rgb(0 0 0 / 38%) !important;
  color: #d5d5d5 !important;
  width: 70% !important;
}
.cat_content > .MuiGrid-container > .MuiGrid-item {
  text-align: center;
}
.students_list {
  position: absolute;
  list-style-type: none;
  width: 54% !important;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/* .student_wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
} */
/* .student_wrapper > img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
.students_list > .student_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
.students_list > .student_wrapper > img {
  width: 70px;
}
.students_list > .student_wrapper:nth-child(1) {
  transform: translateY(12%) scale(0.9);
  -webkit-transform: translateY(12%) scale(0.9);
  -moz-transform: translateY(12%) scale(0.9);
  -ms-transform: translateY(12%) scale(0.9);
  -o-transform: translateY(12%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(2) {
  transform: translateY(22%) scale(0.9);
  -webkit-transform: translateY(22%) scale(0.9);
  -moz-transform: translateY(22%) scale(0.9);
  -ms-transform: translateY(22%) scale(0.9);
  -o-transform: translateY(22%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(3) {
  transform: translateY(-22%) scale(0.9);
  -webkit-transform: translateY(-22%) scale(0.9);
  -moz-transform: translateY(-22%) scale(0.9);
  -ms-transform: translateY(-22%) scale(0.9);
  -o-transform: translateY(-22%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(4) {
  transform: translateY(22%) scale(0.9);
  -webkit-transform: translateY(22%) scale(0.9);
  -moz-transform: translateY(22%) scale(0.9);
  -ms-transform: translateY(22%) scale(0.9);
  -o-transform: translateY(22%) scale(0.9);
}
.students_list > .student_wrapper:nth-child(5) {
  transform: translateY(28%) scale(0.9);
  -webkit-transform: translateY(28%) scale(0.9);
  -moz-transform: translateY(28%) scale(0.9);
  -ms-transform: translateY(28%) scale(0.9);
  -o-transform: translateY(28%) scale(0.9);
}
.bridge_btn {
  position: absolute !important;
  top: 25%;
  left: 25%;
}
@media only screen and (max-width: 600px) {
  .island_main {
    width: 88%;
  }
  .students_list {
    width: 88% !important;
    transform: scale(0.7) translate(-11px, -39px);
    -webkit-transform: scale(0.7) translate(-11px, -39px);
    -moz-transform: scale(0.7) translate(-11px, -39px);
    -ms-transform: scale(0.7) translate(-11px, -39px);
    -o-transform: scale(0.7) translate(-11px, -39px);
  }
  .students_list > .student_wrapper > {
    transform: scale(0.5) !important;
    -webkit-transform: scale(0.5) !important;
    -moz-transform: scale(0.5) !important;
    -ms-transform: scale(0.5) !important;
    -o-transform: scale(0.5) !important;
  }
  .bridge_btn {
    position: absolute !important;
    top: 25%;
    right: 25%;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  .bridge_btn {
    position: absolute !important;
    top: 25%;
    left: -40%;
  }
}
