/* .student_sa {
  background-color: #4d3559;
}
.student_ep {
  background-color: #701b00;
}
.student_hw {
  background-color: #c12640;
}
.student_ec {
  background-color: #002c44;
}
.student_ch {
  background-color: #161f0a;
} */
.ppl_wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column !important;
  padding: 0px 30px;
  margin-top: 55px !important;
}
.social_bar {
  list-style: none;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
.social_bar > li {
  margin: 0px 15px;
}
.project_content {
  margin: 5px;
  border-radius: 0px !important;
  box-shadow: none !important;
  color: #d5d5d5 !important;
  background: #000000 !important;
}
.project_content :hover {
  color: #ead5aa !important;
}
.ppl_content {
  margin: 20px;
  border-radius: 0px !important;
  box-shadow: 10px 8px 0px 4px rgb(0 0 0 / 38%) !important;
  color: #d5d5d5 !important;
  width: 70% !important;
}
@media only screen and (max-width: 600px) {
  .project_content {
    width: 100% !important;
  }
  .ppl_content {
    width: 100% !important;
  }
}
